[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.24"

remappings = [
    "@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/",
    "forge-std/=lib/forge-std/src/",
]

# Fuzz testing settings
[fuzz]
runs = 256
max_test_rejects = 65536

# Invariant testing settings
[invariant]
runs = 256
depth = 15

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
